/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: left;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  z-index: 9999; /* Ensure tooltip is on top of other elements */
  transition: opacity 0.2s ease;
}



/* Add more styles as needed */
